.minasona-icon {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.minasona-icon-container {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 1px;
}

.twitch-minasona-popover {
  position: fixed;
  width: 218px;
  height: 218px;
  background-color: #18181b; /* Matches Twitch Dark Mode */
  border: 1px solid #303032;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 99999999;
  cursor: pointer;

  /* Flexbox to center the image inside the 250x250 box */
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;

  /* Start hidden */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none; /* Prevents interaction when hidden */
}

.twitch-minasona-popover.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.twitch-minasona-popover img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain; /* Keeps aspect ratio */
  opacity: 0;
  display: block;
  transform-origin: bottom center;
}

.twitch-minasona-popover img.loaded {
  opacity: 1;
}

.loader {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Petpet Effect */

.pet-sprite {
  position: absolute;
  top: 28px;
  transform: scale(1.5);

  width: 112px;
  height: 112px;

  opacity: 0;
  pointer-events: none;
}

.twitch-minasona-popover.petting img {
  animation: squish 0.3125s steps(5) infinite;
  animation-delay: 0.05s;
}

.twitch-minasona-popover.petting .pet-sprite {
  opacity: 1;
  animation: playHand 0.3125s steps(5) forwards infinite;
}

@keyframes squish {
  0%,
  19.99% {
    transform: scaleY(1) scaleX(1);
  }
  20%,
  39.99% {
    transform: scaleY(0.9) scaleX(1.05);
  }
  40%,
  59.99% {
    transform: scaleY(0.8) scaleX(1.1);
  }
  60%,
  79.99% {
    transform: scaleY(0.9) scaleX(1.05);
  }
  80%,
  100% {
    transform: scaleY(0.95) scaleX(1.025);
  }
}

@keyframes playHand {
  from {
    background-position: 0px;
  }
  to {
    background-position: -560px;
  }
}

/* Usercards */

.viewer-card-palsona {
  padding: 8px;
}

.viewer-card-palsona-title {
  font-family: var(--font-display);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.18px;
  line-height: var(--line-height-heading);
  margin-bottom: 2px;
}

.viewer-card-palsona-container {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}

.seventv-user-card,
.seventv-usercard {
  max-height: 524px !important;
}
